<div class="row">
  <div class="col">
    <h2><%= displayName %></h2>
  </div>
</div>

<div class="row">
  <div class="col">
    <div id="videoRoot"></div>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <form class="container-fluid justify-content-start">
    <button type="button" id="hangupBtn" onclick="hangupCall()" class="btn btn-danger text-nowrap">Hangup</button>
    <button type="button" id="toggleMute" onclick="toggleMuteFn()" class="btn btn-primary text-nowrap hiddenControl">Mute</button>
    <button type="button" id="toggleVideoMute" onclick="toggleVideoMuteFn()" class="btn btn-info text-nowrap hiddenControl">Stop Video</button>
    <button type="button" class="btn btn-secondary text-nowrap hiddenControl" data-bs-toggle="modal" data-bs-target="#deviceModal">Devices</button>
    <a href="<%= participantUrl %>" target="_blank" class="btn btn-secondary text-nowrap hiddenControl">Participant URL</a>
  </form>
</nav>

<div class="row">
  <div class="col">
    <div class="d-flex flex-wrap" id="participantList">
    </div>
  </div>
</div>

<template id="participantTpl">
  <div class="participant text-center mx-1 p-1">
    <div><img class="participantAvatar" width="40" height="40"></div>
    <div class="participantName flex-grow-1"></div>
  </div>
</template>

<template id="participantTpl">
  <li class="list-group-item d-flex">
    <div class="participantName flex-grow-1"></div>
  </li>
</template>

<%- include('partials/controls_modal') %>

<script type="text/javascript" src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script src="https://unpkg.com/@signalwire/js"></script>
<script>
  var TOKEN = "<%= token %>";
  var USER = "<%= user %>";
</script>
<script src="/utility.js"></script>
<script src="/participant.js"></script>